@model IEnumerable<F1Lib.Models.YearDistinct>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Years)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Totalraces)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Years)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Totalraces)
            </td>
            <td>
                <a asp-action="Statestieken" asp-route-id="@item.">Statistieken</a>
            </td>
        </tr>
}
    </tbody>
</table>
